/* Reset some default browser styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-image:url('images/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
    color: #fff;
    display: flex;
    justify-content: center; /* Center-align the tabs horizontally */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #000; /* Make the boxes black */
    border-radius: 5px;
    display: inline-block; /* Ensure boxes don't take full width */
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

section {
    background-color: rgba(255, 255, 255, 0.9); /
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
